<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Portfolio Test Suite">
    <listeners>
        <listener class-name="utilities.Listeners"/>
    </listeners>
    <test name="All Tests" preserve-order="true">
        <classes>
            <class name="tests.Register.TC01"/>
            <class name="tests.Register.TC02"/>
            <class name="tests.Register.TC03"/>
            <class name="tests.Register.TC04"/>
            <class name="tests.Register.TC05"/>
            <class name="tests.Register.TC06"/>
            <class name="tests.Login.TC07"/>
            <class name="tests.Login.TC08"/>
            <class name="tests.Login.TC09"/>
            <class name="tests.Login.TC10"/>
            <class name="tests.Login.TC11"/>
            <class name="tests.Login.TC12"/>
            <class name="tests.Login.TC13"/>
            <class name="tests.Products.TC14"/>
            <class name="tests.Products.TC15"/>
            <class name="tests.Products.TC16"/>
            <class name="tests.Products.TC17"/>
            <class name="tests.Products.TC18"/>
            <class name="tests.Products.TC19"/>
            <class name="tests.Products.TC20"/>
            <class name="tests.Products.TC21"/>
            <class name="tests.Cart.TC22"/>
            <class name="tests.Cart.TC23"/>
            <class name="tests.Cart.TC24"/>
            <class name="tests.Cart.TC25"/>
            <class name="tests.Cart.TC26"/>
            <class name="tests.Cart.TC27"/>

        </classes>
    </test>
</suite> 